In [2]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter 
# We have imported the excel writer to save the multiple dataframe in a single excel sheet.

In [235]:
FMCG = pd.read_csv("Raw Sales Data.csv")

In [3]:
FMCG.head()

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"

In [4]:
FMCG.info()
#Checking the information of the Dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [11]:
FMCG['Sales'] = FMCG['Sales'].str.replace(',','').astype(int)

In [12]:
FMCG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    datetime64[ns]
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    int32
 7   Month_Number  224 non-null    int32
dtypes: datetime64[ns](1), int32(2), object(5)
memory usage: 12.4+ KB

In [13]:
FMCG['Qty'] = FMCG['Qty'].str.replace(',','').astype(int)
FMCG

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Month_Number
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,12
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,12
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,12
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,12
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,12
...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426,3
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830,3
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907,3
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043,3
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600,3

In [240]:
#The Month data was in string format, so we changed it to the datetime format. 
# syntax  pd.to_datetime(df['coloum'], format = 'depends on the data')

FMCG['Month'] = pd.to_datetime(FMCG["Month"],format='%d-%b-%y')

# by using dt.strftime(%b), we have converted the month number to the month name. 
FMCG['Month_Number'] = FMCG['Month'].dt.strftime('%b')

In [17]:
FMCG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    datetime64[ns]
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    int32
 6   Sales         224 non-null    int32
 7   Month_Number  224 non-null    object
dtypes: datetime64[ns](1), int32(2), object(5)
memory usage: 12.4+ KB

# 1. Monthwise number of quantities sold

In [150]:
monthwise_qty_sold = FMCG.groupby('Month_Number')['Qty'].sum() #This is in series right now 
monthwise_qty_sold =pd.DataFrame(monthwise_qty_sold).reset_index()
print(monthwise_qty_sold)

  Month_Number    Qty
0          Dec  85427
1          Feb  76393
2          Jan  67732
3          Mar  80229

# 2. Category wise Qty sold

In [84]:
category_wise_qty = FMCG.groupby('Category')['Qty'].sum().reset_index() #This is a series
# Now we will convert it to the dataframe. 
category_wise_qty = pd.DataFrame(category_wise_qty)
print(category_wise_qty)
#check the data type.

               Category     Qty
0  Functional nutrition   42354
1     Gourmet Nutrition   89279
2                Juices  178148

# 3. Sub-channel wise total sales

In [113]:
sub_channel_wise_total_sales = FMCG.groupby('Sub-Channels')['Sales'].sum().reset_index()
sub_channel_wise_total_sales = pd.DataFrame(sub_channe_wise_total_sales)
sub_channel_wise_total_sales

         Sub-Channels     Sales
0              AMAZON  35606804
1          Big Basket   1207522
2                 D2C  28047538
3            Flipkart   3770415
4               GOQII    582600
5   Offline - Central    375332
6      Offline - East    811146
7        Offline - MT   6257948
8     Offline - South   3446395
9      Offline - West   6441427
10     Offline -North   1206564

In [204]:
FMCG.head()

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Month_Number,New_products
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,Dec,ALOE + AMLA JUICE
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,Dec,ALOE + GARCINIA JUICE
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,Dec,ALOE VERA JUICE
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,Dec,ALOE VERA SKIN GEL
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,Dec,NEEM JUICE

# 4. Highest Sales Month

In [252]:
#Highest_Sale = FMCG.sort_values('Sales', ascending=False).iloc[0]['Month_Number']
#df = pd.DataFrame(Highest_Sale)

Highest_Sale = FMCG.groupby('Month_Number')['Sales'].max().sort_values(ascending=False)
Highest_Sale = pd.DataFrame(Highest_Sale)
Highest_Sale = Highest_Sale.iloc[0]
Highest_Sale

Sales     99,603
Name: Feb, dtype: object

# 5. Highest selling product (based on sales)

In [201]:
# We need to seprate the string by numeric 
# we have used str.extract('match that are not digits's unitil hit digits)
FMCG['New_products'] = FMCG['Product Name'].str.extract(r'([^\d]+)', expand=False)
print(FMCG)

         Month      Channel Sub-Channels                  Product Name  \
0   2020-12-01  Marketplace       AMAZON         ALOE + AMLA JUICE 1 L
1   2020-12-01  Marketplace       AMAZON     ALOE + GARCINIA JUICE 1 L
2   2020-12-01  Marketplace       AMAZON           ALOE VERA JUICE 1 L
3   2020-12-01  Marketplace       AMAZON     ALOE VERA SKIN GEL 500 GM
4   2020-12-01  Marketplace       AMAZON                NEEM JUICE 1 L
..         ...          ...          ...                           ...
219 2021-03-01  Marketplace   Big Basket      ORGANIC GULKAND 300grams
220 2021-03-01  Marketplace     Flipkart     ALOE + GARCINIA JUICE 1 L
221 2021-03-01  Marketplace     Flipkart                AMLA JUICE 1 L
222 2021-03-01  Marketplace     Flipkart            GET SLIM JUICE 1 L
223 2021-03-01  Marketplace        GOQII  RAW HONEY ( MADHU) 500 GRAMS

              Category   Qty    Sales Month_Number            New_products
0               Juices  1116   428700          Dec      ALOE + AMLA JUICE
1               Juices  3003  1374831          Dec  ALOE + GARCINIA JUICE
2               Juices  2962   732167          Dec        ALOE VERA JUICE
3    Gourmet Nutrition  1004   377100          Dec     ALOE VERA SKIN GEL
4               Juices   555   152287          Dec             NEEM JUICE
..                 ...   ...      ...          ...                     ...
219  Gourmet Nutrition   509   165426          Mar        ORGANIC GULKAND
220             Juices   542   248830          Mar  ALOE + GARCINIA JUICE
221             Juices   645   140907          Mar             AMLA JUICE
222             Juices  1242   436043          Mar         GET SLIM JUICE
223  Gourmet Nutrition   971   582600          Mar     RAW HONEY ( MADHU)

[224 rows x 9 columns]

In [219]:
Highest_Selling_Product = FMCG.groupby('New_products')['Sales'].max().sort_values(ascending=False)
Highest_Selling_Product = pd.DataFrame(Highest_Selling_Product)
Highest_Selling_Product = Highest_Selling_Product.iloc[0]
Highest_Selling_Product

Sales    4390500
Name: HIMALAYA OIL , dtype: int32

# 6. List of different products company is offering

In [146]:
list_of_products = FMCG['New_products'].unique()
print(list_of_products)
list_of_products = pd.DataFrame(list_of_products).reset_index()

['ALOE + AMLA JUICE ' 'ALOE + GARCINIA JUICE ' 'ALOE VERA JUICE '
 'ALOE VERA SKIN GEL ' 'NEEM JUICE ' 'NONI JUICE '
 'SLIM SHAKE - CHOCOLATE ' 'SLIM SHAKE - MANGO ' 'TRIPHALA JUICE '
 'TULSI GILOY JUICE ' 'WHEAT GRASS JUICE ' 'AMLA JUICE ' 'GET SLIM JUICE '
 'HIMALAYA OIL ' 'VIGOR MAX JUICE ' 'ORGANIC JAGGERY POWDER '
 'APPLE CIDER VINEGAR' 'VIRGIN COCONUT OIL ' 'KARELA JAMUN JUICE '
 'MASALA SUPERGRAIN MIX ENERGY ' 'MASALA SUPERGRAIN MIX IMMUNITY '
 'AMLA + GILOY JUICE ' 'DIA FREE JUICE ' 'IMMUNE CARE JUICE '
 'ORGANIC GULKAND ' 'VEGAN PROTEIN - CHOCOLATE ' 'GET SLIM CAPSULES '
 'RAW HONEY ( MADHU) ']

# 7. Create a single excel file to save all the outputs generated above in different subsheets.

In [253]:
# used to write an excel file with multiple sheets. 
with ExcelWriter('FMCG_Analysis.xlsx') as writer:
    monthwise_qty_sold.to_excel(writer,sheet_name='monthwise_qty_sold',index=False)
    category_wise_qty.to_excel(writer,sheet_name='category_wise_qty',index=False)
    sub_channel_wise_total_sales.to_excel(writer,sheet_name='sub_channel_wise_total_sales',index=False)
    Highest_Sale.to_excel(writer,sheet_name='Highest_Sale',index=False)
    Highest_Selling_Product.to_excel(writer,sheet_name='Highest_selling_product',index=False)
    list_of_products.to_excel(writer,sheet_name='list_of_products',index=False)