In [10]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
#Step 1: Employee ID & Password - 3 times check else out of the window.

In [11]:
today = datetime.today().date()
today

datetime.date(2024, 6, 7)

In [18]:
def login():
    correct_emp_id = 'abc'
    correct_password = '123'
    max_attempt = 3
    
    for attempt in range(3):
        
        emp_id = input('Enter your Emp_ID')
        password = input('Enter your Password')
        
        if (emp_id=='abc') & (password=='123'):
            print("login Successful")
            break
        else:
            print("login Unsuccessful")
            
          #calculate the remaning attempts 
        attempt_left  = max_attempt - (attempt+1)
        
        if attempt_left>0:
            print('Try again')
        else:
            print('No attempts left')

In [19]:
login()

Enter your Emp_ID abc
Enter your Password 123

login Successful

In [12]:
# Step 2: Read the file
df = pd.read_excel('vaccine_data.xlsx')

In [13]:
df.head()

,userid,name,1st dose status,date of 1st dose,2nd dose status,date of 2nd dose
0,p001,Chandler,yes,2021-12-30,yes,2022-03-30
1,p002,Joey,yes,2023-01-12,no,NaT
2,p003,Monica,yes,2022-03-15,yes,2022-06-23
3,p004,Rachel,yes,2022-02-17,no,NaT
4,p005,Pheobe,yes,2022-01-18,yes,2022-05-08

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userid            20 non-null     object
 1   name              20 non-null     object
 2   1st dose status   20 non-null     object
 3   date of 1st dose  14 non-null     datetime64[ns]
 4   2nd dose status   20 non-null     object
 5   date of 2nd dose  9 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 1.1+ KB

In [14]:
df.set_index("userid", inplace=True)

In [15]:
df

,name,1st dose status,date of 1st dose,2nd dose status,date of 2nd dose
userid,,,,,
p001,Chandler,yes,2021-12-30,yes,2022-03-30
p002,Joey,yes,2023-01-12,no,NaT
p003,Monica,yes,2022-03-15,yes,2022-06-23
p004,Rachel,yes,2022-02-17,no,NaT
p005,Pheobe,yes,2022-01-18,yes,2022-05-08
p006,Jenny,yes,2022-04-21,yes,2022-08-04
p007,Mike,yes,2022-03-17,no,NaT
p008,Harvey,yes,2022-01-18,yes,2022-04-28
p009,Ted,yes,2021-12-15,yes,2022-04-24
p010,Barney,no,NaT,no,NaT
p011,Robin,no,NaT,no,NaT
p012,Lily,no,NaT,no,NaT
p013,Marshal,yes,2022-02-19,yes,2022-07-19
p014,Kathie,yes,2022-02-10,yes,2022-05-31
p015,Daniel,no,NaT,no,NaT
p016,Jessica,no,NaT,no,NaT
p017,Amanda,no,NaT,no,NaT
p018,Steve,yes,2022-12-12,no,NaT
p019,Tony,yes,2022-01-27,yes,2022-05-02
p020,Donna,yes,2022-04-02,no,NaT

In [24]:
# Step 2: Take the user id and match it. 
def check():
    login()
    attempts = 3 # Number of attempts 
    for attempts in range(attempts):
            user_id = input('Enter the User ID')
            if user_id in df.index: 
                print(f"Hello {df.loc[user_id,'name']}")
        
            if df.loc[user_id,'1st dose status'] == 'yes' and df.loc[user_id,'2nd dose status'] == 'yes': 
                print(f"Congratulations! {df.loc[user_id,'name']}, You are fully vaccinated")
    
            if user_id in df.index: 
                    if df.loc[user_id,'1st dose status'] == 'no' and df.loc[user_id,'2nd dose status'] == 'no': 
                        print(f"{df.loc[user_id,'name']} Please take your first dose at earliest")
            
            if user_id in df.index: 
                    if df.loc[user_id,'1st dose status']=='yes' and df.loc[user_id,'2nd dose status'] == 'no': 
            # Convert the first does to date time. 
                        first_dose = pd.to_datetime(df.loc[user_id,'date of 1st dose'])
            # Convert the today's date to datetime. 
                        todays = pd.to_datetime(today) 
                        if (first_dose - todays).days>90: 
                            print(f"{df.loc[user_id,'name']} You have taken your first dose on {first_dose}, please take your 2nd dose at earliest")
            else: 
                #Calculating the next 90 days
                next_dose = first_dose+pd.Timedelta(days=90)
                print(f"{df.loc[user_id,'name']} You have taken your first dose on {first_dose}, please take your 2nd dose on or after {next_dose}") 
    
    else: 
        print("Enter your correct User iD")
        check()
        
        print("You have exhausted your all the attempts")

In [ ]:
check()

Enter your Emp_ID p001
Enter your Password 03

login Unsuccessful
Try again

Enter your Emp_ID abx
Enter your Password sd

login Unsuccessful
Try again

Enter your Emp_ID abc
Enter your Password 123

login Successful

Enter the User ID p001

Hello Chandler
Congratulations! Chandler, You are fully vaccinated

In [21]:
def check():
    login()
    user_id = input('Enter the User ID: ')
    
    if user_id in df.index:
        user_data = df.loc[user_id]
        print(f"Hello {user_data['name']}")
        
        if user_data['1st dose status'] == 'yes' and user_data['2nd dose status'] == 'yes':
            print(f"Congratulations! {user_data['name']}, You are fully vaccinated")
        elif user_data['1st dose status'] == 'no' and user_data['2nd dose status'] == 'no':
            print(f"{user_data['name']}, Please take your first dose at the earliest")
        elif user_data['1st dose status'] == 'yes' and user_data['2nd dose status'] == 'no':
            first_dose = pd.to_datetime(user_data['date of 1st dose'])
            todays = pd.to_datetime(today)
            days_since_first_dose = (todays - first_dose).days
            
            if days_since_first_dose > 90:
                print(f"{user_data['name']}, You have taken your first dose on {first_dose.date()}, please take your 2nd dose at the earliest")
            else:
                next_dose = first_dose + pd.Timedelta(days=90)
                print(f"{user_data['name']}, You have taken your first dose on {first_dose.date()}, please take your 2nd dose on or after {next_dose.date()}")
    else:
        print("Enter your correct User ID")
        check()  # Recursively call check to prompt for the correct ID

In [22]:
while True:
    check()
    decision = input("Do you want to exit? (y/n): ").strip().lower()
    if decision == 'y':
        break

Enter your Emp_ID abc
Enter your Password 123

login Successful

Enter the User ID:  p001

Hello Chandler
Congratulations! Chandler, You are fully vaccinated

Do you want to exit? (y/n):  Y